Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
}

/* Estilos para el contenedor principal */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para las tarjetas de inicio de sesión */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #777;
    margin-bottom: 25px;
}

/* Estilos para los botones */
.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de administrador */
.admin {
    background-color: #33a728;
}

.admin:hover {
    background-color: #218838;
}

/* Estilos para la tipografía */
h1, h2 {
    font-family: 'Arial', sans-serif;
}

/* Media queries para mejorar la responsividad */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    .card h2 {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}


/* Estilo para el botón de "Volver atrás" */
.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d; /* Gris oscuro */
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #5a6268; /* Gris más oscuro al pasar el mouse */
}

